<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.latou.gym.mapper.EssayMapper">
    <!--表名-->
    <sql id="BASE_TABLE">
        essay
    </sql>
    <!--列名-->
    <sql id="BASE_COLUMN">
        essay_id,
        essay_board_id,
        essay_title,
        essay_content,
        essay_create_time,
        essay_update_time,
        essay_view_count,
        essay_url
    </sql>
    <select id="findAllEssay"  resultType="Essay">
        select * from essay
    </select>

    <select id="findEssayById" resultType="Essay">
        SELECT * FROM essay WHERE essay_id= #{essayId}
    </select>

    <insert id="addEssay">
    INSERT INTO essay(
        essay_id,
        essay_board_id,
        essay_title,
        essay_content,
        essay_create_time,
        essay_update_time,
        essay_view_count,
        essay_url
    )
    VALUES
    (
        #{essayId},
        #{essayBoardId},
        #{essayTitle},
        #{essayContent},
        #{essayCreateTime},
        #{essayUpdateTime},
        #{essayViewCount},
        #{essayUrl}
    )
    </insert>
    <update id="updateEssay">
        UPDATE essay
        SET
        essay_board_id= #{essayBoardId},
        essay_title= #{essayTitle},
        essay_content= #{essayContent},
        essay_create_time= #{essayCreateTime},
        essay_update_time= #{essayUpdateTime},
        essay_view_count= #{essayViewCount},
        essay_url=#{essayUrl}
        WHERE
            essay_id=#{essayId}
    </update>
    
    <delete id="deleteEssay">
        DELETE FROM essay WHERE essay_id=#{essayId}
    </delete>

    <select id="countEssay" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM essay
    </select>

    <select id="countEssayLove" resultType="java.lang.Integer">
       SELECT
            sum(essay_view_count)
        FROM
            essay
    </select>

    <select id="findAllEssayByBoard" resultType="Essay">
        SELECT *
        FROM essay
        WHERE essay_board_id=#{essayBoardId}
        ORDER BY essay_update_time desc
    </select>

    <select id="findRecentEssay" resultType="Essay">
        SELECT *
        FROM essay
        WHERE essay_board_id=#{essayBoardId}
        ORDER BY essay_create_time desc limit 10
    </select>

    <select id="findRecent" resultType="Essay">
        SELECT *
        FROM essay
        ORDER BY essay_create_time desc limit 8
    </select>

    <select id="findEssayByViewId" resultType="Essay">
        SELECT *
        FROM essay
        ORDER BY essay_view_count desc limit 10
    </select>

    <select id="search" resultType="Essay">
        SELECT *
        FROM essay
        <where>
            <if test="content !=null">
              essay_title LIKE CONCAT ('%',#{content},'%')
            </if>
        </where>
    </select>
</mapper>